
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_variables.scss';

.menu-options {
    color: $red;
}
a:visited{
    color: $green;
    text-decoration: none;
}

